django
djangorestframework
djangorestframework-simplejwt
drf-yasg
django-cors-headers
django-filter
#django-multipart-parser
#django-formtools
python-decouple
#django.core.mail
coreapi
gunicorn
psycopg2-binary
channels
channels-redis
redis
#asgref>=3.9.0,<4.0.0
asgiref==3.9.0
