django
djangorestframework
djangorestframework-simplejwt
drf-yasg
django-cors-headers
#django-filter
#django-multipart-parser
#django-formtools
#python-decouple
#django.core.mail
core-api
gunicorn
psycopg2-binary
