asgiref
async-timeout
attrs
autobahn
Automat
certifi
cffi
channels
channels_redis
charset-normalizer
constantly
coreapi
coreschema
cryptography
daphne
Django
django-cors-headers
django-filter
djangorestframework
djangorestframework_simplejwt
drf-spectacular
drf-yasg
gunicorn
h2
hpack
hyperframe
hyperlink
idna
incremental
inflection
itypes
Jinja2
jsonschema
jsonschema-specifications
MarkupSafe
msgpack
packaging
priority
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
PyJWT
pyOpenSSL
python-decouple
pytz
PyYAML
redis
referencing
requests
rpds-py
service-identity
sqlparse
tomli
Twisted
txaio
typing_extensions
uritemplate
urllib3
zope.interface
django-celery-beat
django-celery-results
